@charset "UTF-8";

#twrOverlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	background: center no-repeat rgba(255,255,255,0.9);
}

#twrOverlay.loading {
	background-image: url('images/loading.gif');
}

.twrOverlay-valign {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
}

.twrOverlay-valign-cell {
	display: table-cell;
	vertical-align: middle;
}

span.twrOverlay-closeBtn {
	display: block;
	font-size: 1.4em;
	text-align: center;
}

span.twrOverlay-closeBtn a {
	display: inline-block;
	padding: 0 15px;
	color: #fff;
	line-height: 32px;
	background: #55acee;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;

}

span.twrOverlay-closeBtn a:hover {
	background-color: #2d83c5;
}
